/* Use your own code or past solution for Great Idea Web Page CSS here! */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

header h1 {
	font-size: 100px;
	text-align: center;
}

.container {
	max-width: 900px;
	margin: auto;
}

nav {
    margin-top: 3.2%;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media(max-width: 800px){
    nav {
        flex-direction: column;
    }
}

nav .nav-link-container{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

@media(max-width: 800px){
    nav .nav-link-container{
        width: 100%;
        justify-content: space-around;
    }
}

nav section{
	padding: .5%;
}

nav a {
	font-family: 'Titillium Web', sans-serif;
	color: gray;
	text-decoration: none;
}

@media(max-width: 800px){
    nav div.nav-img-container {
        order: -1;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 3%;
    }
}

header{
    border-bottom: 2px solid black;
    width: 100%;
    margin: 2.7% 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6.6% 0;
}

@media(max-width: 800px){
    header{
        width: 95%;
        margin: 2.7% auto;
    }
}

header .cta{
	display: flex;
    flex-direction: column;
    margin-left: 13.1%;
}

header h1{
    font-size: 70px;
    text-align: center;
}


@media(max-width: 800px){
    header img{
        display: none;
    }
}

header .cta button{
    background: none;
    border: 1px solid black;
    /* padding: 1% 3%; */
    font-family: 'Titillium Web', sans-serif;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
    font-size: 17px;
}

.top-content{
	width: 100%;
	margin: 5% auto;
	display: flex;
	justify-content: space-evenly;
	align-content: center;
}

.top-content section{
	text-align: left;
}

.container .middle-img{
	
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-content: center;
}


.bottom-content{
	width: 100%;
	margin: 5% auto;
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	border-bottom: 1px solid black;
	padding-bottom: 5%;
}

.bottom-content section{
	margin: 0 1%;
}
address{
	width: 40%;
	margin-top: 5%;
}

footer{
	margin: 5% 43%;
	font-size: 80%;
}